{% extends "layouts/wizard.html" %}

{% set title = "Do you have any of the following health conditions?" %}

{% block question %}
  {{ govukCheckboxes({
    name: "health-conditions",
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true,
        text: title
      }
    },
    hint: {
      text: "Select all conditions that apply"
    },
    items: [{
      value: "asthma",
      text: "Asthma"
    }, {
      value: "cancer",
      text: "Cancer"
    }, {
      value: "bronchitis",
      text: "Bronchitis"
    }, {
      value: "dementia",
      text: "Dementia"
    }, {
      value: "heart-condition",
      text: "Heart condition"
    }, {
      value: "high-blood-pressure",
      text: "High blood pressure"
    }, {
      value: "lung-disease",
      text: "Lung disease"
    }, {
      value: "type-2-diabetes",
      text: "Type 2 diabetes"
    }, {
      divider: "or"
    }, {
      value: "none",
      text: "No, I do not have any of these health conditions",
      behaviour: "exclusive"
    }]
  }) }}
{% endblock %}
