{% extends "layouts/wizard.html" %}

{% set title = "How do you heat your home?" %}

{% block question %}
  {{ govukRadios({
    name: "heating",
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true,
        text: title
      }
    },
    items: [{
      value: "electric",
      text: "Electric central heating"
    }, {
      value: "gas",
      text: "Gas central heating"
    }, {
      value: "lpg",
      text: "LPG (Liquefied Petroleum Gas)"
    }, {
      value: "oil",
      text: "Oil central heating"
    }, {
      value: "wood",
      text: "Open fire or stove"
    }, {
      value: "renewable",
      text: "Renewable energy",
      hint: {
        text: "For example, heat pump, solar panels, wind turbine."
      }
    }]
  }) }}
{% endblock %}
