{% extends "layouts/content.html" %}

{% set title = "Your clean air action plan" %}

{% set conditions = "You are more vulnerable to the impacts of air pollution if you have " + data["health-conditions"] | formatList("disjunction") + "." %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  {{ govukAccordion({
    classes: "app-accordion--action-plan",
    id: "actions",
    hideSectionText: "Hide actions",
    showSectionText: "Show actions you can take",
    hideAllSectionsText: "Hide all actions",
    showAllSectionsText: "Show all actions",
    items: [{
      heading: {
        text: "Your health"
      },
      summary: {
        html: "Air pollution can affect our short and long-term health. " + conditions
      },
      content: {
        html: appActionList({
          items: [{
            text: "Check the air quality forecast near you."
          }, {
            text: "Don’t smoke indoors or allow others to smoke in your home."
          } if data.smoking == "yes"]
        })
      }
    }, {
      heading: {
        text: "Inside the home"
      },
      summary: {
        text: "Indoor air pollution includes dust, dirt, or gases inside buildings. It could come from open fires, stoves, mould, scented candles, sprays or furniture."
      },
      content: {
        html: appActionList({
          items: [{
            text: "Ventilate your home by opening windows."
          }, {
            text: "Use extractor fans and ventilation hoods when cooking, cleaning and showering."
          }, {
            text: "Clean your floors regularly to avoid dust and allergens building up and going into the air."
          }, {
            text: "Use solid or liquid cleaning products rather than sprayable ones."
          }, {
            text: "Consider buying an air filter or purifier."
          }, {
            text: "Get your boiler serviced annually."
          } if data.heating == "gas" or data.heating == "oil", {
            text: "If you have an alternative source of heating, avoid using your open fire or stove. If your open fire or stove is the only option for heating your home, only burn dry wood or solid fuel that is certified ‘Ready to burn’."
          } if data.heating == "wood", {
            text: "Consider buying an electric heat pump."
          } if data.heating != "renewable" and data["home-ownership"] == "yes"]
        })
      }
    }, {
      heading: {
        text: "Shopping"
      },
      summary: {
        text: "The increase in packaging and on-demand deliveries can lead to an increase in pollution levels."
      },
      content: {
        html: appActionList({
          items: [{
            text: "Look for green delivery slots."
          } if data.shopping == "yes", {
            text: "If possible, order to a click and collect point that you can walk or cycle to."
          } if data.shopping == "yes", {
            text: "Look for low volatile ogranic compound (VOC) products when buying items like paint and varnish."
          }]
        })
      }
    }, {
      heading: {
        text: "Travelling to work or school"
      },
      summary: {
        text: "Air pollution inside a vehicle can be up to twice as high as outside the vehicle. Pollution can come from other cars, allergens and chemicals released from inside the vehicle."
      },
      content: {
        html: appActionList({
          items: [{
            text: "Keep your car windows closed, especially if you’re driving in slow-moving traffic."
          }, {
            text: "Consider using public transport more often."
          }, {
            text: "Consider working from home more often or using a co-working space closer to home."
          } if data.commuting != "no"]
        })
      }
    }, {
      heading: {
        text: "Driving"
      },
      summary: {
        text: "Road transport, including cars and delivery vehicles, is the main source of nitrogen oxide (NO2) pollution."
      },
      content: {
        html: appActionList({
          items: [{
            text: "Whenever you can, walk or cycle instead of driving a vehicle or using public transport."
          }, {
            text: "Consider joining a car club or sharing a car."
          }, {
            text: "Eco-drive to save fuel and money."
          }, {
            text: "Check your vehicle’s tyre pressure."
          }, {
            text: "Ensure your vehicle is regularly serviced."
          }, {
            text: "Consider buying a car low-emission car."
          }]
        })
      }
    } if data.driving == "yes", {
      heading: {
        html: "Walking and exercise"
      },
      summary: {
        text: "Walking by the side of a road can lead to you inhaling up to a third more harmful fumes than walking."
      },
      content: {
        html: appActionList({
          items: [{
            text: "When exercising outdoors try green spaces and, if possible, when the roads aren’t busy."
          } if data.exercising == "yes", {
            text: "Use quieter streets instead of main roads."
          } if data.exercising == "yes", {
            text: "Keep to the side of the pavement furthest away from the road and sources of air pollution."
          }]
        })
      }
    }]
  }) }}

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-9">Local action plan</h2>

  {{ govukInsetText({
    html: "The local council in " + data.postcode | upper + " is <b>" + council.name + "</b>."
  }) }}

  <p>{{ council.name }} have implemented the following initiatives:</p>

  {{ appActionList({
    items: [{
      text: "Encouraging the use of public transport."
    }, {
      text: "Promoting cycling and walking."
    }, {
      text: "Introducing low emission zones"
    }, {
      text: "Supporting businesses to reduce emissions."
    }]
  }) }}
{% endblock %}
