{% set detailsHtml %}
  <p>The Daily Air Quality Index tells you about levels of air pollution and provides recommended actions and health advice.</p>

  <p>It is numbered 1 to 10 and divided into four bands, with 1 used for low air pollution and 10 for very high levels of air pollution:</p>

  {{ govukTable({
    classes: "app-table--daqi",
    head: [{
      text: "Low",
      colspan: 3
    }, {
      text: "Moderate",
      colspan: 3
    }, {
      text: "High",
      colspan: 3
    }, {
      text: "Very High"
    }],
    rows: [
      [{
        classes: "daqi-1",
        text: "1"
      }, {
        classes: "daqi-2",
        text: "2"
      }, {
        classes: "daqi-3",
        text: "3"
      }, {
        classes: "daqi-4 app-table--daqi__boundary",
        text: "4"
      }, {
        classes: "daqi-5",
        text: "5"
      }, {
        classes: "daqi-6",
        text: "6"
      }, {
        classes: "daqi-7",
        text: "7"
      }, {
        classes: "daqi-8",
        text: "8"
      }, {
        classes: "daqi-9",
        text: "9"
      }, {
        classes: "daqi-10",
        text: "10"
      }]
    ]
  }) }}

  <p><a href="#">Learn how these values are calculated</a></p>
{% endset %}

{{ govukDetails({
  summaryText: "What do these numbers mean?",
  html: detailsHtml
}) }}
