//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

$daqi-colour-1: govuk-colour("turquoise");
$daqi-colour-2: mix(govuk-colour("turquoise"), govuk-colour("green"), 50%);
$daqi-colour-3: govuk-colour("green");
$daqi-colour-4: govuk-colour("yellow");
$daqi-colour-5: mix(govuk-colour("yellow"), govuk-colour("orange"), 50%);
$daqi-colour-6: govuk-colour("orange");
$daqi-colour-7: govuk-colour("red");
$daqi-colour-8: mix(govuk-colour("red"), govuk-colour("black"), 50%);
$daqi-colour-9: mix(govuk-colour("red"), govuk-colour("black"), 25%);
$daqi-colour-10: govuk-colour("black");

@import "./govspeak";

// Application components
@import "../../views/components/all";

// Email styles
@import "./email";

// Base
sub, sup {
  line-height: 0;
}

// List - column
.app-list--column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: govuk-spacing(6);

  li {
    flex: 1 0 30%;
  }
}

// Table - DAQI
.app-table--daqi {
  border-spacing: 2px;
  border-collapse: separate;

  .govuk-table__header,
  .govuk-table__cell {
    border: 0;
    width: 10%;
    vertical-align: bottom;
  }

  .govuk-table__header {
    @include govuk-font($size: 14, $weight: regular);
  }

  .govuk-table__cell {
    @include govuk-font($size: 16, $weight: bold);
    padding: govuk-spacing(2);
    text-align: center;
  }
}

// Table - Forecast/Measurement
.app-table--forecast {
  border-spacing: govuk-spacing(1);
  border-collapse: separate;
  margin-bottom: govuk-spacing(2);
  margin-top: govuk-spacing(9);

  .govuk-table__caption {
    padding-top: govuk-spacing(2);
  }

  .govuk-table__header,
  .govuk-table__cell {
    border: 0;
    text-align: center;
    width: 20%;
    vertical-align: bottom;
  }

  .govuk-table__header {
    @include govuk-font($size: 16, $weight: regular);
    padding: govuk-spacing(1);
  }

  .govuk-table__cell {
    @include govuk-font($size: 16, $weight: bold);
    padding: govuk-spacing(2);

    span {
      @include govuk-font($size: 27);
      display: block;
      font-weight: normal;
    }
  }
}

// Masthead
.app-masthead {
  background-color: #263135;

  .govuk-breadcrumbs {
    padding-top: govuk-spacing(3);
    padding-bottom: 0;
    border-bottom: 0;
  }

  .govuk-phase-banner {
    padding-top: govuk-spacing(4);
    border-bottom-color: govuk-colour("dark-grey");
  }

  .govuk-tag {
    color: #263135
  }
}

// Width container
.app-width-container--map {
  background: govuk-colour("light-grey") url("/public/images/air-quality/map-daqi.png") no-repeat 100% / cover;
  max-width: 100%;
  height: 100vh;

  .govuk-main-wrapper {
    height: 100%;
    max-width: auto;
    padding: 0;
    position: relative;
    flex: 1;
  }

  .govuk-radios--small .govuk-radios__label,
  .govuk-checkboxes--small .govuk-checkboxes__label {
    @include govuk-font($size: 16);
  }
}

.app-width-container--map:has(#map-1:checked) {
  background-image: url("/public/images/air-quality/map-daqi.png");
}

.app-width-container--map:has(#map-2:checked) {
  background-image: url("/public/images/air-quality/map-pm25.png");
}

.app-width-container--map:has(#map-3:checked) {
  background-image: url("/public/images/air-quality/map-no2.png");
}

.app-width-container--map:has(#options:checked) .app-map__point--station {
  display: block;
}

.app-map__info {
  background-color: govuk-colour("white");
  padding: govuk-spacing(4);
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  scrollbar-color: govuk-colour("mid-grey") govuk-colour("light-grey");
  width: 320px;

  &::-webkit-scrollbar {
    height: govuk-spacing(1);
    width: govuk-spacing(2);
  }

  &::-webkit-scrollbar-thumb {
    background: govuk-colour("mid-grey");
  }

  &::-webkit-scrollbar-track {
    background: govuk-colour("light-grey");
  }
}

.app-map__overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: calc(100vw - 320px);
}

.app-map__exit-link {
  background-color: govuk-colour("white");
  margin: govuk-spacing(2);
  padding: govuk-spacing(2);
  position: relative;
  width: 5em;
}

.app-map__point {
  @include govuk-font($size: 16, $weight: bold);
  display: block;
  background-color: govuk-colour("blue");
  border: 2px solid govuk-colour("white");
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px rgba(0 0 0 / 0.5);
  position: relative;
  text-align: center;
  text-decoration: none;
}

.app-map__point--location {
  background-color: govuk-colour("blue");
  height: govuk-spacing(3);
  left: 50%;
  top: 50%;
  width: govuk-spacing(3);
}

.app-map__point--station {
  display: none;
  height: govuk-spacing(6);
  line-height: govuk-spacing(6);
  width: govuk-spacing(6);
}

.app-map__point--daqi-3 {
  background-color: $daqi-colour-3;
  color: govuk-colour("white") !important;
  left: -10px;
  top: 25%;
}

.app-map__point--daqi-4 {
  background-color: $daqi-colour-4;
  color: $govuk-text-colour !important;
  left: 75%;
  top: 55%;
}

// DAQI colors
.app-daqi--1 {
  background: govuk-tint($daqi-colour-1, 80%);
  color: govuk-shade($daqi-colour-1, 60%);
}

.app-daqi--2 {
  background: govuk-tint($daqi-colour-2, 75%);
  color: govuk-shade($daqi-colour-2, 45%);
}

.app-daqi--3 {
  background: govuk-tint($daqi-colour-3, 70%);
  color: govuk-shade($daqi-colour-3, 30%);
}

.app-daqi--4 {
  background: govuk-tint($daqi-colour-4, 75%);
  color: govuk-shade($daqi-colour-4, 65%);
}

.app-daqi--5 {
  background: govuk-tint($daqi-colour-5, 72.5%);
  color: govuk-shade($daqi-colour-5, 60%);
}

.app-daqi--6 {
  background: govuk-tint($daqi-colour-6, 70%);
  color: govuk-shade($daqi-colour-6, 55%);
}

.app-daqi--7 {
  background: govuk-tint($daqi-colour-7, 70%);
  color: govuk-shade($daqi-colour-7, 30%);
}

.app-daqi--8 {
  background: govuk-tint($daqi-colour-8, 70%);
  color: govuk-shade($daqi-colour-8, 30%);
}

.app-daqi--9 {
  background: govuk-tint($daqi-colour-9, 70%);
  color: govuk-shade($daqi-colour-9, 30%);
}

.app-daqi--10 {
  background-color: $daqi-colour-10;
  color: govuk-colour("white");
}
