//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Govspeak styles
@import "node_modules/@x-govuk/marked-govspeak/govspeak/all";

// Application components
@import "../../views/components/all";

// Email styles
@import "./email";

// Base
sub, sup {
  line-height: 0;
}

// List - column
.app-list--column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: govuk-spacing(6);

  li {
    flex: 1 0 30%;
  }
}

// Table - DAQI
.app-table--daqi {
  border-spacing: 2px;
  border-collapse: separate;

  .govuk-table__header,
  .govuk-table__cell {
    border: 0;
    width: 10%;
    vertical-align: bottom;
  }

  .govuk-table__header {
    @include govuk-font($size: 14, $weight: regular);
  }

  .govuk-table__cell {
    @include govuk-font($size: 16, $weight: bold);
    padding: govuk-spacing(2);
    text-align: center;
  }
}

// Table - Forecast/Measurement
.app-table--forecast {
  border-spacing: govuk-spacing(1);
  border-collapse: separate;
  margin-bottom: govuk-spacing(2);
  margin-top: govuk-spacing(9);

  .govuk-table__caption {
    padding-top: govuk-spacing(2);
  }

  .govuk-table__header,
  .govuk-table__cell {
    border: 0;
    text-align: center;
    width: 20%;
    vertical-align: bottom;
  }

  .govuk-table__header {
    @include govuk-font($size: 16, $weight: regular);
    padding: govuk-spacing(1);
  }

  .govuk-table__cell {
    @include govuk-font($size: 16, $weight: bold);
    padding: govuk-spacing(2);

    span {
      @include govuk-font($size: 27);
      display: block;
      font-weight: normal;
    }
  }
}

// Masthead
.app-masthead {
  background-color: #263135;

  .govuk-breadcrumbs {
    padding-top: govuk-spacing(3);
    padding-bottom: 0;
    border-bottom: 0;
  }

  .govuk-phase-banner {
    padding-top: govuk-spacing(4);
    border-bottom-color: govuk-colour("dark-grey");
  }

  .govuk-tag {
    color: #263135
  }
}

// Width container
.app-width-container--map {
  background: govuk-colour("light-grey") url("/public/images/air-quality/map-daqi.png") no-repeat 100% / cover;
  max-width: 100%;
  height: 100vh;

  .govuk-main-wrapper {
    height: 100%;
    max-width: auto;
    padding: 0;
    position: relative;
    flex: 1;
  }

  .govuk-label,
  .govuk-hint,
  .govuk-select,
  .govuk-radios__item,
  .govuk-checkboxes__item {
    @include govuk-font($size: 16);
  }
}

.app-width-container--map:has(#aq-1:checked) {
  background-image: url("/public/images/air-quality/map-daqi.png");
}

.app-width-container--map:has(#gasses:checked) {
  background-image: url("/public/images/air-quality/map-no2.png");
}

.app-width-container--map:has(#gasses-2:checked) {
  background-image: url("/public/images/air-quality/map-so2.png");
}

.app-width-container--map:has(#particles:checked) {
  background-image: url("/public/images/air-quality/map-pm25.png");
}

.app-width-container--map:has(#particles-2:checked) {
  background-image: url("/public/images/air-quality/map-pm10.png");
}

.app-map__info {
  background-color: govuk-colour("white");
  padding: govuk-spacing(4);
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  scrollbar-color: govuk-colour("mid-grey") govuk-colour("light-grey");
  width: 300px;

  &::-webkit-scrollbar {
    height: govuk-spacing(1);
    width: govuk-spacing(2);
  }

  &::-webkit-scrollbar-thumb {
    background: govuk-colour("mid-grey");
  }

  &::-webkit-scrollbar-track {
    background: govuk-colour("light-grey");
  }
}

.app-map__overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: calc(100vw - 340px);
}

.app-map__exit-link {
  background-color: govuk-colour("white");
  margin: govuk-spacing(2);
  padding: govuk-spacing(2);
  position: relative;
  width: 5em;
}

.app-map__options {
  background-color: govuk-colour("white");
  margin: govuk-spacing(2);
  padding: govuk-spacing(2);
  position: absolute;
  width: 16em;
  bottom: 0;
}

.app-map__zoom {
  position: absolute;
  margin: govuk-spacing(2);
  bottom: 0;
  right: 0;
}

.app-map__key-item {
  @include govuk-font($size: 16);
  margin-bottom: govuk-spacing(2) !important;

  &::before {
    content: "";
    display: block;
    float: left;
    margin-right: govuk-spacing(2);
    height: govuk-spacing(4);
    width: govuk-spacing(4);
  }

  &.app-map__key-item--1::before { background-color: #0066ff; }
  &.app-map__key-item--2::before { background-color: #00ffcc; }
  &.app-map__key-item--3::before { background-color: #33ff00; }
  &.app-map__key-item--4::before { background-color: #f9e906; }
  &.app-map__key-item--5::before { background-color: #ff9900; }
  &.app-map__key-item--6::before { background-color: #ff0000; }
  &.app-map__key-item--7::before { background-color: #ff00ff; }
}

// DAQI colors
.app-daqi--1 {
  background: govuk-tint($daqi-colour-1, 80%);
  color: govuk-shade($daqi-colour-1, 60%);
}

.app-daqi--2 {
  background: govuk-tint($daqi-colour-2, 75%);
  color: govuk-shade($daqi-colour-2, 45%);
}

.app-daqi--3 {
  background: govuk-tint($daqi-colour-3, 70%);
  color: govuk-shade($daqi-colour-3, 30%);
}

.app-daqi--4 {
  background: govuk-tint($daqi-colour-4, 75%);
  color: govuk-shade($daqi-colour-4, 65%);
}

.app-daqi--5 {
  background: govuk-tint($daqi-colour-5, 72.5%);
  color: govuk-shade($daqi-colour-5, 60%);
}

.app-daqi--6 {
  background: govuk-tint($daqi-colour-6, 70%);
  color: govuk-shade($daqi-colour-6, 55%);
}

.app-daqi--7 {
  background: govuk-tint($daqi-colour-7, 70%);
  color: govuk-shade($daqi-colour-7, 30%);
}

.app-daqi--8 {
  background: govuk-tint($daqi-colour-8, 70%);
  color: govuk-shade($daqi-colour-8, 30%);
}

.app-daqi--9 {
  background: govuk-tint($daqi-colour-9, 70%);
  color: govuk-shade($daqi-colour-9, 30%);
}

.app-daqi--10 {
  background-color: $daqi-colour-10;
  color: govuk-colour("white");
}

// Utilities
.app-\!-secondary-text-colour {
  color: $govuk-secondary-text-colour;
}
