//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Govspeak styles
@import "node_modules/@x-govuk/marked-govspeak/govspeak/all";

// Application components
@import "../../views/components/all";

// Email styles
@import "./email";

// Base
sub, sup {
  line-height: 0;
}

// Masthead
.app-masthead {
  background-color: #263135;

  .govuk-breadcrumbs {
    padding-top: govuk-spacing(3);
    padding-bottom: 0;
    border-bottom: 0;
  }

  .govuk-phase-banner {
    padding-top: govuk-spacing(4);
    border-bottom-color: govuk-colour("dark-grey");
  }

  .govuk-tag {
    color: #263135
  }
}

// DAQI colors
.app-daqi--1 {
  background: govuk-tint($daqi-colour-1, 80%);
  color: govuk-shade($daqi-colour-1, 60%);
}

.app-daqi--2 {
  background: govuk-tint($daqi-colour-2, 75%);
  color: govuk-shade($daqi-colour-2, 45%);
}

.app-daqi--3 {
  background: govuk-tint($daqi-colour-3, 70%);
  color: govuk-shade($daqi-colour-3, 30%);
}

.app-daqi--4 {
  background: govuk-tint($daqi-colour-4, 75%);
  color: govuk-shade($daqi-colour-4, 65%);
}

.app-daqi--5 {
  background: govuk-tint($daqi-colour-5, 72.5%);
  color: govuk-shade($daqi-colour-5, 60%);
}

.app-daqi--6 {
  background: govuk-tint($daqi-colour-6, 70%);
  color: govuk-shade($daqi-colour-6, 55%);
}

.app-daqi--7 {
  background: govuk-tint($daqi-colour-7, 70%);
  color: govuk-shade($daqi-colour-7, 30%);
}

.app-daqi--8 {
  background: govuk-tint($daqi-colour-8, 70%);
  color: govuk-shade($daqi-colour-8, 30%);
}

.app-daqi--9 {
  background: govuk-tint($daqi-colour-9, 70%);
  color: govuk-shade($daqi-colour-9, 30%);
}

.app-daqi--10 {
  background-color: $daqi-colour-10;
  color: govuk-colour("white");
}

// Home page overrides
$defra-brand-colour: #008938;
$defra-button-inverse-shadow-colour: govuk-shade($defra-brand-colour, 30%);
$defra-button-inverse-hover-background-colour: govuk-tint($defra-brand-colour, 90%);

.app-template--defra {
  .x-govuk-masthead {
    background-color: $defra-brand-colour;

    .x-govuk-button--inverse,
    .x-govuk-button--inverse:link,
    .x-govuk-button--inverse:visited {
      @include govuk-responsive-margin(6, "top");
      color: $defra-brand-colour;
      box-shadow: 0 $x-govuk-button-shadow-size 0 $defra-button-inverse-shadow-colour;
    }

    .x-govuk-button--inverse:hover {
      color: $defra-brand-colour;
      background-color: $defra-button-inverse-hover-background-colour;
    }

    .x-govuk-button--inverse:active,
    .x-govuk-button--inverse:focus {
      color: $defra-brand-colour;
      background-color: $defra-button-inverse-hover-background-colour;
    }
  }

  .govuk-header,
  .govuk-header__container,
  .x-govuk-related-navigation {
    border-color: $defra-brand-colour;
  }

  .govuk-header__logo {
    width: auto;
  }
}

// Utilities
.app-\!-secondary-text-colour {
  color: $govuk-secondary-text-colour;
}
