{% extends "layouts/content.html" %}

{% set title = "Get the air quality in your area" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ title | noOrphans | safe }}</h1>
    <p>The air quality in the UK is good compared to to many other countries. Yet, it is still the largest environmental risk to public health.</p>

    <form action="/get-air-quality-information/location" method="post">
      {{ appSearch({
        label: {
          text: "Enter a location",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "For example ‘Westminster’ or ‘SW1A 2AA’"
        },
        id: "q",
        name: "q"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
