{% extends "layouts/content.html" %}

{% set title = "Nitrogen dioxide in Elephant & Castle, SE1" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/",
      text: "Home"
    }, {
      href: "/get-air-quality-information/location",
      text: "Air quality in Elephant & Castle, SE1"
    }]
  }) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">{{ title | noOrphans | safe }}</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p>Nitrogen dioxide is a colourless gas with an irritating pungent odour. It readily dissolves in water and is one of the main chemicals that causes acid rain.</p>

    <p><a href="/get-air-quality-information/topics/air-pollution/pollutants/nitrogen-oxides">Learn more about nitrogen oxides and their health impact</a></p>

    <h2 class="govuk-heading-m">Measurement</h2>

    <p>Concentration of nitrogen dioxide is measured at the nearest air quality monitoring station at <a href="#">Southwark A2 Old Kent Road</a>:</p>

    <p><img src="/public/images/get-air-quality-information/no2.svg" alt="NO2"></p>

    <h2 class="govuk-heading-m">Long term exposure</h2>

    <p>The <a href="#">Air Quality Standards Regulations 2010</a> require the annual average concentration of nitrogen dioxide to not exceed 40 micrograms/m3.</p>

    {{ govukInsetText({
      html: "The annual average for nitrogen dioxide recorded at this monitoring station was <b>45 micrograms/m3</b> in 2022."
    }) }}

    <p>There should also be no more than 18 exceedances of the hourly average limit value (concentrations above 200 micrograms/m3) in a single year.</p>

    {{ govukInsetText({
      html: "The hourly average limit value for nitrogen dioxide recorded at this monitoring station was exceeded <b>31 times</b> in 2022."
    }) }}
  </div>
</div>
{% endblock %}
