{% extends "layouts/content.html" %}

{% set hasSidebarColumn = true %}
{% set pageHeadingSize = "xl" %}
{% set title = "Air quality and you" %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBreadcrumbs({
    items: [{
      href: "/home",
      text: "Home"
    }]
  }) }}
{% endblock %}

{% block bodyColumn %}
{% set markdownContent %}
Adults and children with heart or lung problems are at greater risk of symptoms, while sensitive individuals may experience health effects, even with low levels of air pollution.

{{ appActionLink({
  text: "Protect yourself during episodes of bad pollution",
  href: "#",
  size: "small"
}) }}

***

## Air quality in your home

Air quality can be an issue inside buildings as well as outside. Common indoor air pollutants include:

* tobacco smoke
* Radon (Rn)
* [Carbon monoxide (CO)](/pollutants/carbon-monoxide)
* volatile organic compounds (VOCs)
* mould and mildrew

{{ appActionLink({
  text: "Improve the air quality in your home",
  href: "#",
  size: "small"
}) }}
{% endset %}

{{ markdownContent | govukMarkdown | safe }}
{% endblock %}

{% block sidebarColumn %}
  {{ xGovukRelatedNavigation({
    sections: [{
      items: [{
        text: "Get air quality information",
        href: "/start"
      }],
      subsections: [{
        title: "Pollution and environmental quality",
        items: [{
          text: "Clean Air Strategy 2019",
          href: "https://www.gov.uk/government/publications/clean-air-strategy-2019"
        }, {
          text: "Clean air zones",
          href: "https://www.gov.uk/guidance/driving-in-a-clean-air-zone"
        }, {
          text: "Air quality statistics",
          href: "https://www.gov.uk/government/statistics/air-quality-statistics"
        }]
      }]
    }]
  }) }}
{% endblock %}
