{% extends "layouts/form.html" %}

{% set title = "Create your air quality action plan" %}

{% block form %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p>Air pollution is the biggest environmental threat to our health, no matter who you are or where you live.</p>

  <p>We will ask you 8 questions that will create a personal plan that could help you improve the air quality around you.</p>

  {{ govukInsetText({
    text: "The information you provide is not seen, tracked or stored by us or anyone else."
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
