{% extends "layouts/content.html" %}

{% set title = "Your clean air action plan" %}

{% set healthConditionsSummaryHtml %}
  {% if not data["health-conditions"] or data["health-conditions"] == "none" %}
    <p>You do not have any health conditions that are often affected by air pollution.</p>

    <p>Air pollution can still be damaging to your health. The more often you are exposed to it, the bigger the risk.</p>
  {% else %}
    <p>You answered that you have {{ data["health-conditions"] | formatList }}.</p>

    <p>You may be at greater risk of symptoms from air pollution.</p>

    <p>Any amount of pollution can be damaging to your health, but the more you are exposed to it, the bigger the risk.</p>
  {% endif %}
{% endset %}

{% set insideHomeSummaryHtml %}
  <p>You answered that you heat your home with {{ data.heating | formatList | replace("-", " ") }}.</p>

  <p>Indoor air pollution includes dust, dirt and gases. It could come from {% if (data.heating and data.heating | includes("wood")) %}open fires, stoves, {% endif %}mould, scented candles, sprays or furniture.</p>
{% endset %}

{% set shoppingSummaryHtml %}
  <p>You answered that you {% if data.shopping == "no" %}don’t{% endif %} shop online.</p>

  <p>The increase in packaging and on-demand deliveries can lead to an increase in pollution levels.</p>
{% endset %}

{% set commutingSummaryHtml %}
  <p>You answered you commute to work or school by {{ data.commuting | replace("-", " ")}}.</p>

  <p>Pollution can come from other cars as well as allergens and chemicals released from inside the vehicle.</p>

  <p>Air pollution inside a vehicle can be up to twice as high as outside the vehicle.</p>
{% endset %}

{% set drivingSummaryHtml %}
  <p>You answered that you drive.</p>

  <p>Road traffic is the main source of nitrogen oxide (NO2) pollution.</p>
{% endset %}

{% set exerciseSummaryHtml %}
  {% if data.exercising == "yes" %}
    <p>You answered that you exercise outside.</p>

    <p>You can end up breathing in more pollutants if you run close to busy roads or during rush hour.</p>
  {% else %}
    <p>You answered that you do not exercise outside.</p>

    <p>You can end up breathing in more pollutants if you are on the side of the pavement closest to the road.</p>
  {% endif %}
{% endset %}

{% set localSummaryHtml %}
  <p>You answered that your postcode area is {{ data.postcode | upper }}. The local council is {{ council.name }}.</p>

  <p>This council have implemented the following initiatives:</p>
{% endset %}

{% macro section(params) %}
{% call appSection({ title: params.title }) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {{ params.summary | safe }}
  </div>
  <div class="govuk-grid-column-two-thirds">
    {{ params.body | safe }}
    {% if params.more %}
      <p class="govuk-!-margin-bottom-0"><a href="{{ params.more.href | default("#") }}">{{ params.more.text }}</a></p>
    {% endif %}
  </div>
</div>
{% endcall %}
{% endmacro %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  {{ section({
    title: "Your health",
    summary: healthConditionsSummaryHtml,
    body: appActionList({
      items: [{
        text: "[Check the air quality forecast near you](#)"
      }, {
        text: "[Sign up for air pollution alerts and notifications](/notifications/)"
      }, {
        text: "Follow your doctors usual advice about exercising and managing your condition"
      } if data["health-conditions"] and data["health-conditions"] != "none", {
        text: "Don’t smoke indoors or allow others to smoke in your home"
      }]
    }),
    more: {
      text: "Learn more about health effects from pollution",
      href: "/health-effects"
    }
  }) }}

  {{ section({
    title: "Inside the home",
    summary: insideHomeSummaryHtml,
    body: appActionList({
      items: [{
        text: "If you have an alternative source of heating, avoid using your open fire or stove. If your open fire or stove is the only option for heating your home, only burn dry wood or solid fuel that is certified ‘Ready to burn’."
      } if (data.heating | includes("wood")), {
        text: "Get your boiler serviced annually."
      } if (data.heating | includes("gas")) or (data.heating | includes("oil")), {
        text: "Ventilate your home by opening windows."
      }, {
        text: "Use extractor fans and ventilation hoods when cooking, cleaning and showering."
      }, {
        text: "Clean your floors regularly to avoid dust and allergens building up and going into the air."
      }, {
        text: "Use solid or liquid cleaning products rather than sprayable ones."
      }, {
        text: "Consider buying an air filter or purifier."
      }, {
        text: "Consider buying an electric heat pump."
      } if not (data.heating | includes("renewable")) and data["home-ownership"] == "yes"]
    }),
    more: {
      text: "Learn more about air pollution inside the home"
    }
  }) }}

  {{ section({
    title: "Shopping",
    summary: shoppingSummaryHtml,
    body: appActionList({
      items: [{
        text: "Look for green delivery slots."
      } if data.shopping == "yes", {
        text: "If possible, order to a click and collect point that you can walk or cycle to."
      } if data.shopping == "yes", {
        text: "Look for low volatile organic compound (VOC) products when buying items like paint and varnish."
      }]
    })
  }) }}

  {{ section({
    title: "Travelling to work or school",
    summary: commutingSummaryHtml,
    body: appActionList({
      items: [{
        text: "Keep your car windows closed, especially if you’re driving in slow-moving traffic."
      }, {
        text: "Consider using public transport more often."
      }, {
        text: "Consider working from home more often or using a co-working space closer to home."
      }]
    })
  }) if data.commuting and data.commuting != "no" }}

  {{ section({
    title: "Driving",
    summary: drivingSummaryHtml,
    body: appActionList({
      items: [{
        text: "Whenever you can, walk or cycle instead of driving a vehicle or using public transport."
      }, {
        text: "Consider joining a car club or sharing a car."
      }, {
        text: "Eco-drive to save fuel and money."
      }, {
        text: "Check your vehicle’s tyre pressure."
      }, {
        text: "Ensure your vehicle is regularly serviced."
      }, {
        text: "Consider buying a car low-emission car."
      }]
    })
  }) if data.driving and data.driving == "yes" }}

  {{ section({
    title: "Walking and exercise",
    summary: exerciseSummaryHtml,
    body: appActionList({
      items: [{
        text: "When exercising outdoors try green spaces and, if possible, when the roads aren’t busy."
      } if data.exercising == "yes", {
        text: "Use quieter streets instead of main roads."
      } if data.exercising == "yes", {
        text: "Keep to the side of the pavement furthest away from the road and sources of air pollution."
      }]
    })
  }) }}

  {{ section({
    title: "Local air quality improvement plan",
    summary: localSummaryHtml,
    body: appActionList({
      items: [{
        text: "Encouraging the use of public transport."
      }, {
        text: "Promoting cycling and walking."
      }, {
        text: "Introducing low emission zones"
      }, {
        text: "Supporting businesses to reduce emissions."
      }]
    }),
    more: {
      text: "Learn more about your local council’s improvement plan"
    }
  }) }}
{% endblock %}
