.app-action-list__item {
  @include govuk-font(19, $weight: normal);
  display: table;
  list-style: none;

  &:before {
    background-image: url("/public/images/action-link-arrow.svg");
    background-size: govuk-spacing(3) auto;
    background-position: 0 2px;
    background-repeat: no-repeat;
    content: "";
    display: table-cell;
    width: govuk-spacing(5);

    @include govuk-media-query($from: "tablet") {
      background-size: govuk-spacing(4) auto;
      width: govuk-spacing(6);
    }
  }
}
