{% extends "layouts/content.html" %}

{% set hasSidebarColumn = true %}
{% set pageHeadingSize = "xl" %}
{% set caption = "Causes of air pollution" %}
{% set title = "Benzene" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/",
      text: "Home"
    }, {
      href: "/pollutants",
      text: caption
    }]
  }) }}
{% endblock %}

{% set markdownContent %}
Has a variety of sources, but primarily arises from domestic and industrial combustion and road transport.

## Effects on health and the environment

Benzene is a recognised human carcinogen which attacks the genetic material and, as such, no absolutely safe level can be specified in ambient air.

Studies in workers exposed to high levels have shown an excessive risk of leukaemia.
{% endset %}

{% block bodyColumn %}
  {{ markdownContent | govukMarkdown({ headingsStartWith: "l" }) | safe }}
{% endblock %}

{% block sidebarColumn %}
  {{ xGovukRelatedNavigation({
    sections: [{
      items: [{
        text: "Get air quality information",
        href: "/start"
      }],
      subsections: [{
        title: "Pollution and environmental quality",
        items: [{
          text: "Clean Air Strategy 2019",
          href: "https://www.gov.uk/government/publications/clean-air-strategy-2019"
        }, {
          text: "Clean air zones",
          href: "https://www.gov.uk/guidance/driving-in-a-clean-air-zone"
        }, {
          text: "Air quality statistics",
          href: "https://www.gov.uk/government/statistics/air-quality-statistics"
        }]
      }]
    }]
  }) }}
{% endblock %}
