{% extends "layouts/content.html" %}

{% set hasSidebarColumn = true %}
{% set pageHeadingSize = "xl" %}
{% set caption = "Causes of air pollution" %}
{% set title = "Lead (Pb)" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/",
      text: "Home"
    }, {
      href: "/pollutants",
      text: caption
    }]
  }) }}
{% endblock %}

{% set markdownContent %}
Emitted from the combustion of coal and also the iron and steel combustion and nonferrous metals.

## Effects on health and the environment

Exposure to high levels in air may result in toxic biochemical effects which have adverse effects on the kidneys, gastrointestinal tract, the joints and reproductive systems, and acute or chronic damage to the nervous system. Affects intellectual development in young children.
{% endset %}

{% block bodyColumn %}
  {{ markdownContent | govukMarkdown({ headingsStartWith: "l" }) | safe }}
{% endblock %}

{% block sidebarColumn %}
  {{ xGovukRelatedNavigation({
    sections: [{
      items: [{
        text: "Get air quality information",
        href: "/start"
      }],
      subsections: [{
        title: "Pollution and environmental quality",
        items: [{
          text: "Clean Air Strategy 2019",
          href: "https://www.gov.uk/government/publications/clean-air-strategy-2019"
        }, {
          text: "Clean air zones",
          href: "https://www.gov.uk/guidance/driving-in-a-clean-air-zone"
        }, {
          text: "Air quality statistics",
          href: "https://www.gov.uk/government/statistics/air-quality-statistics"
        }]
      }]
    }]
  }) }}
{% endblock %}
