{% extends "layouts/content.html" %}

{% set hasSidebarColumn = true %}
{% set pageHeadingSize = "xl" %}
{% set caption = "Causes of air pollution" %}
{% set title = "Particulate matter (PM10 and PM2.5)" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      href: "/",
      text: "Home"
    }, {
      href: "/pollutants",
      text: caption
    }]
  }) }}
{% endblock %}

{% set markdownContent %}
Particulate matter (PM) is generally categorised on the basis of the size of the particles. For example PM2.5 is particles with a diameter of less than 2.5 micrometers.

PM is made up of a wide range of materials and arise from a variety of sources.

Concentrations of PM comprise primary particles emitted directly into the atmosphere from combustion sources and secondary particles formed by chemical reactions in the air.

PM derives from both human-made and natural sources such as sea spray and Saharan dust.

In the UK the biggest human-made sources are stationary fuel combustion and transport. Road transport gives rise to primary particles from engine emissions, tyre and brake wear and other non-exhaust emissions.

Other primary sources include quarrying, construction and non-road mobile sources.

Secondary PM is formed from emissions of [ammonia](/pollutants/ammonia), [sulphur dioxide](/pollutants/sulphur-dioxide) and [oxides of nitrogen](/pollutants/oxides-of-nitrogen) as well as from emissions of organic compounds from both combustion sources and vegetation.

## Effects on health and the environment

Both short-term and long- term exposure to ambient levels of PM are consistently associated with respiratory and cardiovascular illness and mortality as well as other ill-health effects. The associations are believed to be causal. It is not currently possible to discern a threshold concentration below which there are no effects on the whole population’s health.

PM10 roughly equates to the mass of particles less than 10 micrometres in diameter that are likely to be inhaled into the thoracic region of the respiratory tract.

Recent reviews by WHO and Committee on the Medical Effects of Air Pollutants (COMEAP) have suggested exposure to a finer fraction of particles give a stronger association with the observed ill-health effects, but also warn that there is evidence that the coarse fraction between also has some effects on health.
{% endset %}

{% block bodyColumn %}
  {{ markdownContent | govukMarkdown({ headingsStartWith: "l" }) | safe }}
{% endblock %}

{% block sidebarColumn %}
  {{ xGovukRelatedNavigation({
    sections: [{
      items: [{
        text: "Get air quality information",
        href: "/start"
      }],
      subsections: [{
        title: "Pollution and environmental quality",
        items: [{
          text: "Clean Air Strategy 2019",
          href: "https://www.gov.uk/government/publications/clean-air-strategy-2019"
        }, {
          text: "Clean air zones",
          href: "https://www.gov.uk/guidance/driving-in-a-clean-air-zone"
        }, {
          text: "Air quality statistics",
          href: "https://www.gov.uk/government/statistics/air-quality-statistics"
        }]
      }]
    }]
  }) }}
{% endblock %}
