{% extends "layouts/summary.html" %}
{% import "macros/forecast.html" as macros with context %}

{% set title = "Current pollution levels and forecast" %}
{% set section = "forecast" %}

{% block bodyColumn %}
  <p>Air quality can vary throughout the day. The <a href="/guidance/daily-air-quality-index">daily air quality index</a> can be used to understand the level of air pollution. It is numbered 1 to 10 and divided into four bands, low (1) to very high (10):</p>

  {{ govukTable({
    classes: "app-table--daqi",
    head: [{
      text: "Low",
      colspan: 3
    }, {
      text: "Moderate",
      colspan: 3
    }, {
      text: "High",
      colspan: 3
    }, {
      text: "Very High"
    }],
    rows: [
      [{
        classes: "app-daqi--1",
        text: "1"
      }, {
        classes: "app-daqi--2",
        text: "2"
      }, {
        classes: "app-daqi--3",
        text: "3"
      }, {
        classes: "app-daqi--4",
        text: "4"
      }, {
        classes: "app-daqi--5",
        text: "5"
      }, {
        classes: "app-daqi--6",
        text: "6"
      }, {
        classes: "app-daqi--7",
        text: "7"
      }, {
        classes: "app-daqi--8",
        text: "8"
      }, {
        classes: "app-daqi--9",
        text: "9"
      }, {
        classes: "app-daqi--10",
        text: "10"
      }]
    ]
  }) }}

  {{ macros.measurement("Latest air pollution levels for " + location.name, days[0]) }}

  {{ macros.forecast("5-day air pollution forecast for " + location.name) }}
{% endblock %}
