{% extends "layouts/summary.html" %}

{% set title = "Sources of air pollution" %}
{% set section = "sources" %}

{% block bodyColumn %}
{% set markdownContent %}
Air quality is a general term used to describe the condition of the air. Air pollution refers to the level of contaminants or pollutants in the air that can affect human health and the environment.

As {{ location.ruc11 | prependArticle | lower }} area, pollution will come from local sources such as {% if location.ruc11 == "Rural village and dispersed" %}agriculture{% else %}busy roads and heavy industry{% endif %}. It will also be influenced by weather conditions.

### Pollutants common to {{ location.ruc11 | lower }} areas
{% endset %}
{{ markdownContent | govukMarkdown | safe }}
{{ govukSummaryList({
  rows: [{
    key: { text: "Nitrogen dioxide (NO₂)" },
    value: { html: "Nitrogen dioxide is produced when we burn fossil fuels in our cars, power plants, and factories. It can also come from natural sources like forest fires and lightning.\n\nBreathing in nitrogen dioxide can irritate our respiratory system and make it harder to breathe. It can also cause inflammation in our lungs or make us more susceptible to respiratory illnesses like asthma." | govukMarkdown }
  } if location.ruc11 != "Rural village and dispersed", {
    key: { text: "Particulate matter (PM10 and PM2.5)" },
    value: { html: "Particulate Matter (PM) refers to tiny particles that are suspended in the air we breathe. These particles come from a variety of sources, including cars, industry and natural sources like dust and wildfires.\n\nPM10 refers to particles that are 10 micrometres in diameter or smaller, while PM2.5 refers to particles that are 2.5 micrometres in diameter or smaller.\n\nPM can result in serious impacts to health, especially in vulnerable groups of people such as the young, elderly and those with respiratory proplems." | govukMarkdown }
  }, {
    key: { text: "Ammonia (NH₃)" },
    value: { html: "Ammonia is mainly derived from agriculture, primarily livestock manure and slurry management and fertilisers.\n\nPrecursor to secondary particulate matter and therefore contributes to the ill-health effects caused by PM10 and PM2.5" | govukMarkdown }
  } if location.ruc11 == "Rural village and dispersed", {
    key: { text: "Sulphur dioxide (SO₂)" },
    value: { html: "Sulphur dioxide is a gas produced when we burn fossil fuels like coal and oil. It’s also produced by industrial processes.\n\nBreathing in sulphur dioxide can irritate our respiratory system and cause difficulty breathing, especially for people who have asthma or other respiratory problems." | govukMarkdown }
  } if location.ruc11 != "Rural village and dispersed", {
    key: { text: "Ozone (O₃)" },
    value: { html: "Ozone is a gas that can be found in the Earth's atmosphere. Ozone in the lower atmosphere is formed when other pollutants, such as nitrogen oxides and volatile organic compounds, react in the presence of sunlight.\n\nWhen we breathe in ozone, it can irritate our respiratory system and cause difficulty breathing, especially for people with asthma or other respiratory problems. It can also harm plants and crops, and contribute to the formation of smog." | govukMarkdown }
  } if location.ruc11 != "Rural village and dispersed"]
}) }}
{% set markdownContent %}
### Pollutants inside buildings

Air quality can be an issue inside buildings as well as outside. Common indoor air pollutants include:

* tobacco smoke
* radon (Rn)
* carbon monoxide (CO)
* volatile organic compounds (VOCs)
* mould and mildew
{% endset %}
{{ markdownContent | govukMarkdown | safe }}
{{ appActionLink({
  text: "Learn more about common causes of air pollution",
  href: "/pollutants",
  size: "small"
}) }}
{% endblock %}
