{% extends "layouts/summary.html" %}

{% set title = "Management areas" %}
{% set section = "management" %}

{% block bodyColumn %}
{% set markdownContent %}
If air pollution exceeds the required limits, a local authority must declare an Air Quality Management Area and publish a plan to improve its air quality. This area could be just one or two streets, or it could be much bigger.
{% endset %}
{{ markdownContent | govukMarkdown | safe }}

{% if council.aqmas.length > 0 %}
<p>{{ council.name }} have declared {{ council.aqmas.length }} Air Quality Management Areas where levels of pollution do not comply with health standards:</p>
  {%- set aqmaRows = [] %}
    {%- for item in council.aqmas %}{% set row = aqmaRows.push([{
      html: '<a href="/management-areas/' + item.id + '">' + item.name + '</a>'
    }, {
      text: item.events[0].date | govukDate("truncate")
    }, {
      text: item.events[0].pollutants[0].type | pollutantName
    }]) %}
  {%- endfor -%}
  {{- govukTable({
    firstCellIsHeader: true,
    head: [{
      html: "Name"
    }, {
      text: "Declared"
    }, {
      text: "Monitored pollutant"
    }],
    rows: aqmaRows
  }) | trim }}
{% else %}
  {{ appActionLink({
    text: "Find nearby Air Quality Management Areas",
    href: "#",
    size: "small"
  }) }}
{% endif %}
{% endblock %}
