.app-cards__heading {
  margin: 0 0 govuk-spacing(6) 0;
}

.app-cards__list {
  list-style: none;
  padding: 0;
  // Remove the outermost left and right margin from the internal margin of the list items.
  margin: 0 govuk-spacing(-3);

  display: grid;
  grid-auto-flow: row;
  // Use CSS grid to calculate the number of rows
  grid-template-rows: auto;
  // Use the tallest cell in the grid to set the height for all rows
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;

  @include govuk-media-query($from: "tablet") {
    grid-template-columns: 1fr 1fr;
  }

  @include govuk-media-query($from: "desktop") {
    // Note that browsers that don't support CSS grid display the component as
    // one column on all breakpoints
    grid-template-columns: 1fr 1fr 1fr;

    // For browsers that don't support CSS grid, constrain the width to 50% to
    // improve usability especially for screen magnifier users
    width: 50%;

    // Reset the width for browsers that support CSS grid
    @supports (display: grid) {
      width: initial;
    }
  }
}

.app-cards__list--two-column-desktop {
  @include govuk-media-query($from: "desktop") {
    grid-template-columns: 1fr 1fr;
  }
}

.app-cards__list-item {
  border-top: 1px solid $govuk-border-colour;
  // We use grid to split the container into column widths, so manage the
  // horizontal spacing with internal margins.
  margin: 0 govuk-spacing(3);
  padding-bottom: govuk-spacing(4);
}

.app-cards__sub-heading {
  margin: 0;
  padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;
  position: relative;
}

.app-cards__image {
  margin-top: -1px;
  max-width: 100%;
}

.app-cards__link {
  // Make the entire list item area clickable
  &:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:before {
    $dimension: 7px;
    $width: 3px;

    border-right: $width solid $govuk-brand-colour;
    border-top: $width solid $govuk-brand-colour;
    content: "";
    height: $dimension;
    position: absolute;
    right: govuk-spacing(1);
    top: govuk-spacing(3);
    transform: rotate(45deg);
    width: $dimension;
  }

  &:visited {
    &:before {
      border-color: $govuk-link-visited-colour;
    }
  }

  &:hover {
    &:before {
      border-color: $govuk-link-hover-colour;
    }
  }

  &:focus {
    &:before {
      border-color: $govuk-focus-text-colour;
    }
  }
}

@include govuk-media-query($media-type: print) {
  .app-cards__list {
    display: block;
  }

  .app-cards__list-item {
    padding-bottom: 0;
  }

  .app-cards__sub-heading {
    margin-top: govuk-spacing(4);
    margin-bottom: govuk-spacing(1);
  }

  .app-cards__link:before {
    display: none;
  }
}

.app-cards__list-item--offset {
  border-top: 0;
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(2);
  padding-top: 0;
}

.app-cards__list-item--green {
  background-color: govuk-tint($daqi-colour-3, 95%);

  .app-big-number {
    color: govuk-shade($daqi-colour-3, 30%);
  }
}
