{% set headingLevel = params.headingLevel or 2 %}

<div class="app-cards{%- if params.classes %} {{ params.classes }}{% endif -%}"
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {% if params.heading %}
    <h{{ headingLevel }} class="app-cards__heading govuk-heading-m">
      {{ params.heading }}
    </h{{ headingLevel }}>
  {% endif %}

  <ul class="app-cards__list">{% for item in params.items %}
    <li class="app-cards__list-item">
      <div class="app-cards__list-item-wrapper">
        <h{{ headingLevel + 1 }} class="app-cards__sub-heading govuk-heading-s">
          <a class="app-cards__link govuk-link" href="{{ item.href }}">
            {{ item.text }}
          </a>
        </h{{ headingLevel + 1 }}>
        {% if item.description %}
          <p class="govuk-body app-cards__description">{{ item.description }}</p>
        {% endif %}
      </div>
    </li>
  {% endfor %}</ul>
</div>
