{% extends "layouts/email.html" %}

{% set subject = "Daily air quality summary, " + ("now" | govukDate) %}
{% set from = "GOV.UK <notifications@air-quality.service.gov.uk>" %}
{% set to = "Jane Doe <jane.doe@example.com>" %}

{% block content %}
  <h2 class="govuk-heading-l">Brighton, BN1</h2>

  <p>Air pollution forecast:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Today – Mainly Low levels of air pollution, but with some isolated areas of Moderate air pollution possible.</li>
    <li>Tomorrow – Air pollution expected to be mainly Low, with isolated areas of Moderate are forecast, mainly for urban areas.</li>
    <li>Outlook – Generally Low air pollution expected, but some isolated areas of Moderate air pollution are forecast for early next week.</li>
  </ul>

  <p>The nearest monitoring station is <a href="#">Brighton Preston Park</a>. For the last 24-hour period, the highest values recorded were:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Ozone – 62 µg/m³ (Low 2)</li>
    <li>Nitogen dioxide – 15 µg/m³ (Low 1)</li>
    <li>Sulphur dioxide – 560 µg/m³ (High 7)</li>
    <li>PM2.5 particles – 25 µg/m³ (Low 3)</li>
    <li>PM10 particles – Not measured</li>
  </ul>

  <p>1 episode of moderate or higher air pollution was recorded:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>a high reading of 560 µg/m³ for Sulphur dioxide (the safe level for this pollutant is a value below 266 µg/m³)</li>
  </ul>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-l">Hastings, TN37</h2>

  <p>Air pollution forecast:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Today – Mainly Low levels of air pollution, but with some isolated areas of Moderate air pollution possible.</li>
    <li>Tomorrow – Air pollution expected to be mainly Low, with isolated areas of Moderate are forecast, mainly for urban areas.</li>
    <li>Outlook – Generally Low air pollution expected, but some isolated areas of Moderate air pollution are forecast for early next week.</li>
  </ul>

  <p>The nearest monitoring station is <a href="#">Eastbourne</a>. For the last 24-hour period, the highest values recorded were:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Ozone – Not measured</li>
    <li>Nitogen dioxide – 18 µg/m³ (Low 1)</li>
    <li>Sulphur dioxide – Not measured</li>
    <li>PM2.5 particles – 22 µg/m³ (Low 2)</li>
    <li>PM10 particles – 24 µg/m³ (Low 2)</li>
  </ul>

  <p>No episodes of moderate or higher air pollution were recorded.</p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <p>Forecast provided by the Met Office. Updated {{ "now" | govukDate }} at 5:00&nbsp;am.</p>

  <p>Visit <a href="/">{{ serviceName }}</a> for advice about air pollution and what actions we can take to reduce it.</p>

  <p>
    Air quality information service<br>
    Department for Environment, Food &amp; Rural Affairs
  </p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <p>You signed up for the daily air quality summary. <a href="#">Update notification settings</a> or <a href="#">unsubscribe</a>.</p>
{% endblock %}
