{% extends "layouts/content.html" %}

{% set hasSidebarColumn = true %}
{% set caption = "Air pollution forecast" %}
{% set title = location.name + ", " + location.region %}
{% set index = days[0].air_quality.index %}
{% set band = daqi(index).name | lower %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    href: "/home"
  }) }}
{% endblock %}

{% block bodyColumn %}

{%- set panelItems = [] -%}
{% for day in days %}
  {%- set aq = day.air_quality -%}
  {%- set pollutantRows = [] -%}
  {% set row = pollutantRows.push([{
      html: '<a href="/pollutants/particulate-matter">Fine particles (PM2.5)</a>'
    }, {
      format: "numeric",
      text: concentration(aq.pm2_5)
    }, {
      html: govukTag({
        classes: "govuk-tag--" + daqi(concentration(aq.pm2_5)).colour,
        text: daqi(concentration(aq.pm2_5)).name
      })
    }],
    [{
      html: '<a href="/pollutants/particulate-matter">Coarse particles (PM10)</a>'
    }, {
      format: "numeric",
      text: concentration(aq.pm10, 'pm10')
    }, {
      html: govukTag({
        classes: "govuk-tag--" + daqi(concentration(aq.pm10, 'pm10')).colour,
        text: daqi(concentration(aq.pm10, 'pm10')).name
      })
    }],
    [{
      html: '<a href="/pollutants/ozone">Ozone (O₃)</a>'
    }, {
      format: "numeric",
      text: concentration(aq.o3, 'o3')
    }, {
      html: govukTag({
        classes: "govuk-tag--" + daqi(concentration(aq.o3, 'o3')).colour,
        text: daqi(concentration(aq.o3, 'o3')).name
      })
    }],
    [{
      html: '<a href="/pollutants/oxides-of-nitrogen">Nitrogen dioxide (NO₂)</a>'
    }, {
      format: "numeric",
      text: concentration(aq.no2, 'no2')
    }, {
      html: govukTag({
        classes: "govuk-tag--" + daqi(concentration(aq.no2, 'no2')).colour,
        text: daqi(concentration(aq.no2, 'no2')).name
      })
    }],
    [{
      html: '<a href="/pollutants/sulphur-dioxide">Sulphur dioxide (SO₂)</a>'
    }, {
      format: "numeric",
      text: concentration(aq.so2, 'so2')
    }, {
      html: govukTag({
        classes: "govuk-tag--" + daqi(concentration(aq.so2, 'so2')).colour,
        text: daqi(concentration(aq.so2, 'so2')).name
      })
    }])
  %}

  {% set panelHtml %}
    <h2 class="govuk-heading-m govuk-visually-hidden">{{ day.date | govukDate }}</h2>
    <p>{{ day.condition.text }}, with an average temperature of {{ day.avgtemp_c | round }}°C.</p>

    <h2 class="govuk-heading-m">Health advice</h2>
    {{ daqi(day.air_quality.index).advice | govukMarkdown | safe }}
    {{ daqi(day.air_quality.index).risk | govukMarkdown | safe if daqi(index).risk }}

    {% if loop.first %}
      <h2 class="govuk-heading-m">Air pollution alerts</h2>

      {% for alert in alerts %}
        {% set insetTextHtml %}
          <p>{{ alert.message }}</p>
          <p class="govuk-hint">{{ alert.published | govukDate + " at " + alert.published | govukTime }}</p>
        {% endset %}
        {{ govukInsetText({
          classes: "app-inset-text--alert",
          html: insetTextHtml
        }) }}
      {% else %}
        <p>No air pollution alerts have been issued.</p>
      {% endfor %}

      {{ appActionLink({
        text: "Get air pollution alerts for this location",
        href: "#",
        size: "small",
        type: "alert"
      }) }}
    {% endif %}

    {{ govukTable({
      caption: "Pollutants",
      captionClasses: "govuk-table__caption--m govuk-!-padding-top-2",
      firstCellIsHeader: true,
      head: [{
        text: "Type of pollutant"
      }, {
        format: "numeric",
        text: "Index"
      }, {
        text: "Band"
      }],
      rows: pollutantRows
    }) }}

    <p>This forecast is produced by combining data from the Met Office with readings from nearby air quality monitoring stations. The nearest monitoring station is <a href="#">{{ monitor.name }}</a> which is 0.2km away.</p>
  {% endset %}

  {% set item = panelItems.push({
    date: day.date,
    index: day.air_quality.index,
    panel: {
      html: panelHtml
    }
  }) %}
{% endfor %}

{% include "includes/details-daqi.html" %}

{{ appForecast({
  classes: "govuk-!-margin-bottom-0",
  idPrefix: "forecast-day",
  items: panelItems
}) }}
{% endblock %}

{% block sidebarColumn %}
  {{ xGovukRelatedNavigation({
    sections: [{
      items: [{
        text: "Daily air quality index",
        href: "/guidance/daily-air-quality-index"
      }],
      subsections: [{
        title: "Pollution and environmental quality",
        items: [{
          text: "Clean Air Strategy 2019",
          href: "https://www.gov.uk/government/publications/clean-air-strategy-2019"
        }, {
          text: "Clean air zones",
          href: "https://www.gov.uk/guidance/driving-in-a-clean-air-zone"
        }, {
          text: "Air quality statistics",
          href: "https://www.gov.uk/government/statistics/air-quality-statistics"
        }]
      }]
    }]
  }) }}
{% endblock %}
