{% extends "layouts/form.html" %}

{% set title = "Air pollution forecast" %}
{% set formAction = "/summary" %}

{% block form %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [{
      text: "Enter a valid postcode",
      href: "#q"
    }]
  }) if error }}

  {{ govukInput({
    classes: "govuk-input--width-10",
    label: {
      text: "Enter a postcode",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      text: "For example ‘SW1A 2AA’"
    },
    autocomplete: "postal-code",
    errorMessage: {
      text: "Enter a valid postcode"
    } if error,
    id: "q",
    name: "q"
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
