{% extends "layouts/content.html" %}

{% set homepage = true %}

{% block content %}
  {{ appCards({
    heading: "Topics",
    items: [{
      href: "#",
      text: "Air pollution",
      description: "Learn about the nature of air pollution, its sources, and the extent of its impact."
    }, {
      href: "#",
      text: "Health affects",
      description: "Air pollution can affect our health throughout our lives. Find out about the main health impacts for you, your children and all of your family."
    }, {
      href: "#",
      text: "Inside the home",
      description: "Many homes have poor air quality due to factors like high humidity, allergens, and pollutants from sources like cooking and cleaning."
    }, {
      href: "#",
      text: "On your street",
      description: "A network of approximately 171 monitors is used to measuring concentrations of key pollutants."
    }, {
      href: "#",
      text: "In your local area",
      description: "Knowing more about the air pollution in your area can help you to make decisions on how to reduce your exposure."
    }, {
      href: "#",
      text: "Across the UK",
      description: "Burning solid fuels releases harmful pollutants straight into the home as well as into the air outside."
    }]
  }) }}
{% endblock %}
