{% extends "layouts/main.html" %}

{% set productName = "Air Quality and Industrial Emissions" %}
{% set serviceName = false %}
{% set title = "Prototypes for Air Quality and Industrial Emissions" %}
{% set bodyClasses = "app-template--defra" %}

{% block main %}
  {{ xGovukMasthead({
    classes: "x-govuk-masthead--large",
    title: {
      html: title | noOrphans
    },
    description: {
      text: "A set of trusted services to provide understandable and reliable UK air quality information, empowering citizens to protect their health."
    }
  }) }}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h2 class="govuk-heading-m govuk-!-font-size-27">Get air quality information</h2>

          <p><a href="/get-air-quality-information/start">Service start page for air quality information</a></p>

          <h2 class="govuk-heading-m govuk-!-font-size-27">Get air pollution alerts</h2>

          <p><a href="/get-air-pollution-alerts/start">Service start page for air pollution alerts</a></p>
        </div>

        <div class="govuk-grid-column-one-third-from-desktop">
          {{ xGovukRelatedNavigation({
            sections: [{
              title: "Related resources",
              items: [{
                text: "Design history",
                href: "https://air-quality.designhistory.app"
              }, {
                text: "Glossary",
                href: "https://air-quality.designhistory.app/glossary"
              }, {
                text: "Prototype repository on GitHub",
                href: "https://github.com/defra-design/aqie-prototype"
              }]
            }]
          }) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
