<div class="app-map-key__section">
  <h3 class="app-map-key__section-title">Rivers, seas and surface water</h3>
  <div class="app-map-key__item">
    <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="all" name="data" type="radio" value="ae" aria-controls="viewport">
        <label class="govuk-label govuk-radios__label" for="all">
          <span class="app-map-key__symbol-container">
            <span class="app-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#5694ca"/></svg>
            </span>
            Extent
          </span>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="app-map-key__section">
  <h3 class="app-map-key__section-title">River and seas</h3>
  <div class="app-map-key__item">
    <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rivers-seas" name="data" type="radio" value="re" aria-controls="viewport">
        <label class="govuk-label govuk-radios__label" for="rivers-seas">
          <span class="app-map-key__symbol-container">
            <span class="app-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#5694ca"/></svg>
            </span>
            Extent
          </span>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="app-map-key__section">
  <h3 class="app-map-key__section-title">Surface water</h3>
  <div class="app-map-key__item">
    <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="surface-water-depth" name="data" type="radio" value="sd" aria-controls="viewport">
        <label class="govuk-label govuk-radios__label" for="surface-water-depth">
          Depth
          <span class="app-map-key__symbol-container app-map-key__symbol-container--multi">
            <span class="app-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#003078"/></svg>
            </span>
            Over 0.9 metres
          </span>
          <span class="app-map-key__symbol-container app-map-key__symbol-container--multi">
            <span class="app-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#5694ca"/></svg>
            </span>
            0.3 to 0.9 metres
          </span>
          <span class="app-map-key__symbol-container app-map-key__symbol-container--multi">
            <span class="app-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#AAC9E4"/></svg>
            </span>
            Less than 0.3 metres
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="app-map-key__item">
    <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="surface-water-speed" name="data" type="radio" value="ss" aria-controls="viewport">
        <label class="govuk-label govuk-radios__label" for="surface-water-speed">
          Speed
          <span class="app-map-key__symbol-container app-map-key__symbol-container--multi">
            <span class="app-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#003078"/></svg>
            </span>
            Over 0.25 m/s
          </span>
          <span class="app-map-key__symbol-container app-map-key__symbol-container--multi">
            <span class="app-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#AAC9E4"/></svg>
            </span>
            Less than 0.25 m/s
          </span>
        </label>
      </div>
    </div>
  </div>
</div>
