{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "components/action-link/macro.njk" import appActionLink %}
{% from "components/attachment/macro.njk" import appAttachment %}
{% from "components/big-number/macro.njk" import appBigNumber %}
{% from "components/cards/macro.njk" import appCards %}
{% from "components/search/macro.njk" import appSearch %}
{% from "components/section/macro.njk" import appSection %}

{% set bodyAttributes = {
  "data-module": "edge"
} %}

{% block pageTitle %}
{% if title %}{{ title }} – {% endif %}
{{ serviceName }} – GOV.UK
{% endblock %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
  {{ govukHeader({
    classes: "app-header",
    homepageUrl: "https://gov.uk",
    serviceName: serviceName,
    serviceUrl: "/",
    navigationClasses: "govuk-header__navigation--end",
    navigation: [{
      href: "#",
      text: "Sign in"
    }]
  }) }}
{% endblock %}

{% block main %}
  {{ govukPhaseBanner({
    classes: "govuk-width-container",
    tag: {
      text: "Prototype"
    },
    text: "This is a prototype of a new service. Some parts may not work yet."
  }) }}

  {{ super() }}
{% endblock %}

{% if (GOVUKPrototypeKit.isDevelopment) %}
  {% set footerMetaItems = [{
    href: "/manage-prototype",
    text: "Manage your prototype"
  }, {
    href: "/manage-prototype/clear-data",
    text: "Clear data"
  }, {
    href: "/email/pollution-alert",
    text: "Air pollution alert email"
  }, {
    href: "/email/daily-summary",
    text: "Daily summary email"
  }] %}
{% else %}
  {% set footerMetaItems = [{
    href: "/manage-prototype/clear-data",
    text: "Clear data"
  }, {
    href: "/email/pollution-alert",
    text: "Air pollution alert email"
  }, {
    href: "/email/daily-summary",
    text: "Daily summary email"
  }] %}
{% endif %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: footerMetaItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}
