{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "components/action-link/macro.njk" import appActionLink %}
{% from "components/attachment/macro.njk" import appAttachment %}
{% from "components/cards/macro.njk" import appCards %}
{% from "components/search/macro.njk" import appSearch %}
{% from "components/section/macro.njk" import appSection %}

{% set bodyAttributes = {
  "data-module": "edge"
} %}

{% block pageTitle %}
{% if title %}{{ title }} – {% endif %}
{{ serviceName }} – GOV.UK
{% endblock %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}
