{% extends "layouts/main.html" %}

{% set pageHeadingSize = "l" %}

{% block main %}
  {{ xGovukMasthead({
    classes: "x-govuk-masthead--large app-masthead",
    title: {
      text: "Air quality in " + location.name + ", " + location.postcode_outcode
    },
    description: {
      html: location.ruc11 | capitalize + " area in " + council.country_name + ". The local council is <b>" + council.name + "</b>." | noOrphans
    },
    breadcrumbs: {
      items: [{
        text: "Return to postcode search",
        href: "/home"
      }]
    },
    phaseBanner: {
      tag: {
        text: "Prototype"
      },
      text: "This is a prototype of a new service. Some parts may not work yet.
"
    }
  }) }}
  {{ super() }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter-from-desktop">
    {{ xGovukSubNavigation({
      visuallyHiddenTitle: "Navigation",
      items: [{
        text: "Sources of air pollution",
        href: "/summary/?q=" + q,
        current: section == "sources"
      }, {
        text: "Current levels and forecast",
        href: "/summary/forecast?q=" + q,
        current: section == "forecast"
      }, {
        text: "Smoke control area",
        href: "/summary/smoke?q=" + q,
        current: section == "smoke"
      }, {
        text: "Management areas",
        href: "/summary/management?q=" + q,
        current: section == "management"
      }, {
        text: "Improving local air quality",
        href: "/summary/improvement?q=" + q,
        current: section == "improvement"
      }, {
        text: "Outcomes",
        href: "/summary/outcomes?q=" + q,
        current: section == "outcomes"
      }]
    }) }}
  </div>
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <h2 class="govuk-heading-{{ pageHeadingSize }}">
      {% if caption %}
        <span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
      {% endif %}
      {{ title | replace("'", "’") | noOrphans | safe }}
    </h2>
    {%- block bodyColumn %}{% endblock %}
  </div>
</div>
{% endblock %}
