{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: paths.back
  }) if paths.back }}
{% endblock %}

{% block content %}
  <form class="govuk-grid-row" method="post" novalidate>
    <div class="govuk-grid-column-two-thirds">
      {% block question %}{% endblock %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: buttonText or "Continue"
        }) }}

        {% if allowSkip -%}
        <a class="govuk-link govuk-link--no-visited-state" href="{{ paths.next }}">Skip this question</a>
        {%- endif %}
      </div>
    </div>
  </form>
{% endblock %}
